.controls{
    display: inline-grid;
    justify-content: space-around;
    align-content: space-evenly;
}
.takeoutmain{
    min-height: 350px;
    display: inline-grid;
    align-content: space-evenly;
}
.takeout-form{
    display: none;
}
#balance-form{
    max-height: 250px;
    overflow-y: auto;
}